<div class="container-fluid">

    <div class="row animated fadeIn">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <a routerLink="/facturas/agregar" class="btn btn-primary"><i class="fa fa-plus"></i> Nueva factura</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row animated fadeIn">
        <div class="col-md-12">
            <input #busqueda (keyup)="buscarFactura( busqueda.value )" type="number" class="form-control my-2" placeholder="Buscar factura">
        </div>
    </div>

    <div class="row animated fadeIn my-2" *ngIf="loading">
        <div class="col-md-12">
            <div class="alert alert-warning text-center">
                <strong>Cargando</strong>
                <br>
                <i class="fa fa-spinner fa-spin fa-3x"></i>
                <br>
                <strong>por favor espere</strong>
            </div>
        </div>
    </div>

    <div class="row animated" *ngIf="!loading && invoices.length > 0">
        <div class="col-md-12">
            <div class="card fadeIn my-2">
                <div class="card-body">
                    <h3 class="card-text">Facturas registradas <small>( {{ total }} )</small></h3>

                    <table class="table table-hover table-stripped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>N° Factura</th>
                                <th>Proveedor</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let invoice of invoices">
                                <td>{{ invoice.id }}</td>
                                <td>{{ invoice.invoice_number }}</td>
                                <td>{{ invoice.provider.name }}</td>
                                <td class="w200">
                                    <button class="btn btn-success mx-1"><i class="fa fa-eye"></i></button>
                                    <button [routerLink]="['/facturas/edit', invoice.id]" class="btn btn-info mx-1"><i class="fa fa-edit"></i></button>
                                    <button (click)="deleteInvoice( invoice )" class="btn btn-danger mx-1"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- paginacion -->
                    <button [disabled]="!prevPageUrl" (click)="prevPage()" class="btn btn-success mr-1">
                        <i class="fa fa-angle-double-left"></i> Anterior
                    </button>
                    <button [disabled]="!nextPageUrl" (click)="nextPage()" class="btn btn-success ml-1">
                        Siguiente <i class="fa fa-angle-double-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>