<div class="container-fluid">
    <div class="row justify-content-center animated fadeIn" *ngIf="material">
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Editar Material</h4>
                    <h6 class="card-subtitle">utiliza este formulario para editar información de un material</h6>
                    <form ngNativeValidate #form="ngForm" class="form-horizontal p-t-20" (ngSubmit)="updateMaterial( form )">
                        <div class="form-group row ">
                            <label for="exampleInputuname3 " class="col-sm-3 control-label ">Código de barra</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                    <input [(ngModel)]="material.bar_code" #bar_code="ngModel" name="bar_code" type="text" class="form-control" required placeholder="Ingrese código de barras">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre Material</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon "><i class="ti-user"></i></div>
                                    <input [(ngModel)]="material.name" #name="ngModel" name="name" type="text" class="form-control" required placeholder="Ingrese nombre material">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputuname3" class="col-sm-3 control-label">Tipo unidad</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon "><i class="ti-user"></i></div>
                                    <!-- UNITY = 1; PACKAGE = 2; REAM = 3; SET = 4; BOX = 5; -->
                                    <select [(ngModel)]="material.unity_type" #unity_type="ngModel" name="unity_type" required class="form-control">
                                        <option value="">Seleccione tipo unidad</option>
                                        <option value="1">Unidad</option>
                                        <option value="2">Paquete</option>
                                        <option value="3">Resma</option>
                                        <option value="4">Set</option>
                                        <option value="5">Caja</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-0 ">
                            <div class="offset-sm-3 col-sm-9 col-md-12 ">
                                <button [disabled]="!form.valid" type="submit" class="btn btn-success btn-block waves-effect waves-light ">
                                    <i class="fa fa-save "></i> Actualizar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title">Imagen de material</h4>
                    <h6 class="card-subtitle">{{ material.name }}</h6>
                    <img *ngIf="!tempImage" class="img-thumbnail w150" [src]="material.picture | image:'material'" alt="">
                    <img *ngIf="tempImage" class="img-thumbnail w150" [src]="tempImage" alt="">
                    <div class="form-group">
                        <input (change)="seleccionarImage( $event.target.files[0] )" class="my-2" type="file" name="file0">
                    </div>
                    <button (click)="cambiarImagen()" [disabled]="!imageUpload" type="button" class="btn btn-success waves-effect waves-light m-r-10 my-2 btn-block"><i class="fa fa-save"></i>  Actualizar Imagen</button>
                </div>
            </div>
        </div>
    </div>
</div>