<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Filtrar por mes y año</h5>
        <p class="card-text">
          ver gráfica de pedidos para cada oficina, filtrando por año y por mes
        </p>
        <!-- <a [routerLink]="['/graficas/pedidos']" class="btn btn-primary">Ver gráfica</a> -->

        <form
          autocomplete="off"
          [formGroup]="formularioYearMonth"
          (ngSubmit)="sendFormYearMonth()"
        >
          <div class="row">
            <div class="form-group col-md-12">
              <div class="col-sm-12">
                <input
                  formControlName="anio"
                  class="form-control"
                  type="number"
                  placeholder="Ingrese año"
                />

                <!-- <div class="message-error-form">
                        <small>Debe ingresar nombre material</small>
                    </div> -->
              </div>
            </div>

            <div class="form-group col-md-12">
              <div class="col-sm-12">
                <select formControlName="mes" class="form-control">
                  <option value="">Seleccionar mes</option>
                  <option *ngFor="let mes of meses" [value]="mes.value">
                    {{ mes.name }}
                  </option>
                </select>
                <!-- <div class="message-error-form">
                      <small>Debe ingresar nombre material</small>
                  </div> -->
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="col-sm-12">
                <button
                  [disabled]="formularioYearMonth.invalid"
                  class="btn btn-primary"
                  type="submit"
                >
                  Seleccionar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Filtrar por año</h5>
        <p class="card-text">
          ver gráfica de pedidos para cada oficina, filtrando por año
        </p>
        <!-- <a [routerLink]="['/graficas/pedidos/anual']" class="btn btn-primary">Ver gráfica</a> -->
        <form
          autocomplete="off"
          [formGroup]="formularioYear"
          (ngSubmit)="sendFormYear()"
        >
          <div class="row">
            <div class="form-group col-md-12">
              <div class="col-sm-12">
                <input
                  formControlName="anio"
                  class="form-control"
                  type="number"
                  placeholder="Ingrese año"
                />

                <!-- <div class="message-error-form">
                      <small>Debe ingresar nombre material</small>
                  </div> -->
              </div>
            </div>

            <div class="form-group col-md-12">
              <div class="col-sm-12">
                <button
                  [disabled]="formularioYear.invalid"
                  class="btn btn-primary"
                  type="submit"
                >
                  Seleccionar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Comparar pedidos por año</h5>
        <p class="card-text">
          Comparar cantidad de pedidos por oficina a partir de 2 años seleccionados
        </p>
        <!-- <a [routerLink]="['/graficas/pedidos/anual']" class="btn btn-primary">Ver gráfica</a> -->
        <form
          autocomplete="off"
          [formGroup]="formularioCompareByYear"
          (ngSubmit)="sendCompareByYear()"
        >
          <div class="row">
            <div class="form-group col-md-12">
              <div class="col-sm-12">
                <input
                  formControlName="from"
                  class="form-control"
                  type="number"
                  placeholder="Ingrese año"
                />

                <!-- <div class="message-error-form">
                      <small>Debe ingresar nombre material</small>
                  </div> -->
              </div>
            </div>

              <div class="form-group col-md-12">
                <div class="col-sm-12">
                  <input
                    formControlName="to"
                    class="form-control"
                    type="number"
                    placeholder="Ingrese año"
                  />

                  <!-- <div class="message-error-form">
                          <small>Debe ingresar nombre material</small>
                      </div> -->
                </div>
              </div>

              <div class="form-group col-md-12">
                <div class="col-sm-12">
                  <button
                    [disabled]="formularioCompareByYear.invalid"
                    class="btn btn-primary"
                    type="submit"
                  >
                    Seleccionar
                  </button>
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Facturas -->
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Facturas emitidas por año</h5>
        <p class="card-text">
          Grafica con costo total
        </p>
        <!-- <a [routerLink]="['/graficas/pedidos/anual']" class="btn btn-primary">Ver gráfica</a> -->
        <form
          autocomplete="off"
          [formGroup]="formularioInvoice"
          (ngSubmit)="sendFormInvoicesYear()"
        >
          <div class="row">
              <div class="form-group col-md-12">
                <div class="col-sm-12">
                  <input
                    formControlName="anio"
                    class="form-control"
                    type="number"
                    placeholder="Ingrese año"
                  />

                  <!-- <div class="message-error-form">
                          <small>Debe ingresar nombre material</small>
                      </div> -->
                </div>
              </div>

              <div class="form-group col-md-12">
                <div class="col-sm-12">
                  <button
                    [disabled]="formularioInvoice.invalid"
                    class="btn btn-primary"
                    type="submit"
                  >
                    Seleccionar
                  </button>
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
